* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(32, 32, 32);
}

fieldset {
    border: none;
    border-radius: 15px;
    max-width: 400px;
    background-color: white;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
}

.button input {
    width: 128px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
}

.button input:hover {
    background-color: rgb(32, 128, 255);
    color: white;
}