@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu#items {
        display: block;
    }

    menu li {
        display: inline-block;
        width: 128px;
        margin: 4px;
    }
    
    menu a {
        border: 1px solid black;
        border-radius: 8px;
    }

    menu a:hover {
        background-color: aquamarine;
        transition: .25s;
    }

    main {
        max-width: 768px;
    }
}